<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogMailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogMailSender.Properties.Settings>
            <setting name="GmailServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="GmailServerPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ToAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEveryHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendEveryMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendEverySec" serializeAs="String">
                <value>15</value>
            </setting>
        </LogMailSender.Properties.Settings>
    </userSettings>
</configuration>